<template>
  <div>
    <div class="form-group">
      <label for="title">Title</label>
      <input
        type="text"
        class="form-control"
        id="title"
        placeholder="Blog Title"
        v-model="post.title"
      />
      <span v-if="$v.post.title.required">Field is required</span>
    </div>
    <div class="form-group">
      <label for="body">Body</label>
      <textarea
        class="form-control"
        id="body"
        rows="3"
        v-model="post.body"
      ></textarea>
      <span v-if="$v.post.body.required">Field is required</span>
    </div>
    <button type="submit" class="btn btn-primary mb-2" @click="savePost">
      Save
    </button>
  </div>
</template>

<script>
import { required } from "vuelidate/lib/validators";

export default {
  data() {
    return {
      isOriginalPost: true,
      post: {
        title: "",
        body: "",
      },
    };
  },
  validations: {
    post: {
      title: required,
      body: required,
    },
  },
  methods: {
    resetFields() {
      const grpObj = this.post;
      Object.keys(grpObj).forEach(function(key) {
        grpObj[key] = "";
      });
    },
    savePost() {
      const postObj = {
        title: this.post.title,
        body: this.post.body,
      };
      this.$v.$touch();
      if (!this.$v.$invalid) {
        this.$store
          .dispatch(this.isOriginalPost ? "createPost" : "updatePost", postObj)
          .then(console.log("success"));
      }
    },
  },
};
</script>
