<template>
  <ul class="pagination">
    <li class="pagination-item">
      <button
        type="button"
        @click="onClickPreviousPage"
        :disabled="isInFirstPage"
        aria-label="Go to previous page"
        class="btn btn-primary"
      >
        Previous
      </button>
    </li>
    <li class="pagination-item ml-1">
      <button
        type="button"
        @click="onClickNextPage"
        aria-label="Go to next page"
        class="btn btn-primary"
      >
        Next
      </button>
    </li>
  </ul>
</template>
<script>
import { mapState } from "vuex";
export default {
  name: "pagy",
  props: {},
  created() {
    this.currentPage = this.start;
    this.nextPage = this.limit;
  },
  data() {
    return {
      currentPage: 0,
      nextPage: 0,
    };
  },
  computed: {
    ...mapState({
      start: "start",
      limit: "limit",
    }),
    isInFirstPage() {
      return this.start === 0;
    },
  },
  methods: {
    onClickPreviousPage() {
      console.log(this.start);
      if (this.start != 0) {
        this.currentPage = this.start;
        this.$emit("pagechanged", this.currentPage - this.nextPage);
      }
    },
    onClickNextPage() {
      this.currentPage = this.start;
      this.$emit("pagechanged", this.currentPage + this.nextPage);
      console.log(this.start);
    },
  },
};
</script>
