<template>
  <div class="patients">
    <div class="mb-2">
      <new-post></new-post>
    </div>
    <table class="table table-striped table-bordered">
      <thead>
        <th width="10%">Id</th>
        <th width="10%">User Id</th>
        <th>Title</th>
        <th>Body</th>
        <th>&nbsp;</th>
      </thead>
      <tbody>
        <tr v-for="(post, index) in posts" :key="index">
          <td>{{ post.id }}</td>
          <td>{{ post.userId }}</td>
          <td>{{ post.title }}</td>
          <td>{{ post.body }}</td>
          <td>
            <button
              class="btn btn-sm btn-secondary"
              @click="deletPost(post.id)"
            >
              Remove
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <pagy @pagechanged="onPageChange"></pagy>
  </div>
</template>

<script>
import { mapState } from "vuex";
import Pagy from "./Pagy";
import NewPost from "./NewPost";

export default {
  name: "Posts",
  components: {
    Pagy: Pagy,
    NewPost: NewPost,
  },
  props: {},
  data() {
    return {};
  },
  created() {
    this.loadPosts(this.start);
  },
  methods: {
    loadPosts(start) {
      this.$store.dispatch("getPosts", start);
    },
    onPageChange(start) {
      this.$store.dispatch("changePage", start);
      this.loadPosts(start);
    },
    deletPost(id) {
      this.$store
        .dispatch("deletePost", id)
        .then(() => {
          console.log("deleted successfully");
        })
        .catch((err) => {
          console.log("error" + err);
        });
    },
  },
  computed: {
    ...mapState({
      start: "start",
      limit: "limit",
      posts: "posts",
    }),
  },
};
</script>

<style scoped></style>
