<template>
  <div id="app" class="container">
    <h1>Posts</h1>
    <posts></posts>
  </div>
</template>

<script>
import Posts from "./posts/components/Posts";

export default {
  name: "App",
  components: {
    Posts,
  },
};
</script>

<style></style>
